:root {
  --black: #000;
  --black-light: rgba(0,0,0,0.08);
  --black-light-fix:#f3e9f3;
  --black-middle: #00000080;
  --cream: rgb(252, 250, 252);
  --light-pink: #f5e4f1;
  --pink-middle: hsl(316, 63%, 92%);
  --pink: #FA99E1;
  --grey:#696969;
  --round10: 10px;
  --black-text: #333;

  --text-title: monospace, sans-serif;
  --text-content: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  --text-note:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
svg{
  display: block;
}
*{
  box-sizing: border-box;
}
html,body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--text-content);
  background-color: var(--light-pink);
}

header {
  position: fixed; 
  top: 0; 
  left: 0;
  right: 0;
  padding: 15px 60px;
  z-index: 10;/*max num ensure its on the top layer*/
  /* background-color: var(--light-pink);for scroll down effect, transparency */

  background-color: #f5e4f1f5;
}

.scroll{
  /* border-bottom: 1px solid var(--black-light); */
}

.navbar-right-tab.active{
  color:var(--pink);
}
.navbar-right-tab:hover{
  color:var(--pink);
  cursor: pointer;
}


/********** navbar ***********/
.navbar {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  color:var(--black);
  font-family: var(--text-title);
}
.navbar-left{

}

.navbar-right{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  color: var(--black-middle);
}
.navbar-right-tab{
  padding: 0px 5px;
  border-radius: 5px;
}

/********** main ***********/

main{
  padding-top: 130px;
  /* padding-left: 16%;
  padding-right: 16%; */
  padding-bottom: 100px; /* should be big than header hight,avoid being covered */
  min-height: 90%;

  max-width: 900px;
  margin: 0 auto;
}

@media(min-width:1440px){
  main{
    padding-left: 25%;
    padding-right: 25%;
    max-width: 100%;
  }
}

/********** footer ***********/
footer {
  background-color: var(--black-light);
  height: 50px;
  color: var(--black-middle);
  display: flex;
  justify-content: center;
  align-items: center;
}

/**************************** projects tab ******************************/
.tab-content.tab-projects{
  display: flex;
  gap: 80px;
  justify-content: space-between;
}

.main-left-sidebar {
  width: 280px;
  position: fixed;
  margin-right: 80px;
}

#sidebar-left-blank {
    width: 280px; /* align with .main-left-sidebar */
}

/********** main - left - sidebar - profile ***********/
.sidebar-image {
    margin-bottom: -80px;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
    z-index: 1;
}

.sidebar-content{
  background-color: var(--black);
  padding: 90px 20px 20px 20px;
  border: 2px solid var(--cream);
  box-shadow: 6px 6px 0 var(--black); 
  border-radius: var(--round10);
  position: relative;
}

.sidebar-content-text{
  padding: 5px;
  background-color: var(--pink-middle);
  border-radius: var(--round10);
  border: 2px solid var(--cream);
  box-shadow: 5px 5px 0 var(--pink); 
  word-wrap: break-word; /* change line */
  color:var(--black);
  font-family: var(--text-content);
  margin-top: -35px;
  position: relative;
  z-index:2;
}

.sidebar-link-icons {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  gap: 30px;
  margin: 15px 0px;/*if add more icons , change here*/
}
.sidebar-link-icon{
  fill: var(--black);
}
.sidebar-link-icon:hover{
  fill: var(--pink);
  cursor: pointer;
}

/********** main - right - projects ***********/
.main-right-projects{
  /* border-radius: var(--round10); */
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 30px;
  /* background-color: var(--black-light); */
}

.project { 
  width: 500px;
  border-radius: 0px 0px 10px 10px; 
  background-color: var(--black-light);
  border: 1px solid var(--black-light);
  overflow: hidden;


  transition: transform 0.3s ease, box-shadow 0.3s ease;
} 
.project:hover{
  cursor: pointer;
  /* background-color: rgba(0,0,0,0.15);
  outline: 1px solid var(--black-middle); */

  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.project-left-images{
  width: 500px;
  height: 281px;
  object-fit: cover;
}

.project-left-text{
  padding: 10px 20px;
}

.text-title {
  font-weight: 500;
}

.text-icons{
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
}
.text-icons-links{
  display: flex;
  gap: 20px;
  align-items: center;
}
.text-icons-links:hover{
  fill: var(--pink);
}
.text-icons-labels{
  display: flex;
  align-items: center;
}
.text-icons-label{
  border-radius: 5px;
  background-color: var(--black-light-fix);
  padding: 0px 7px;
  margin: 0px 5px;
  font-size: 0.9em;
}

/**************************** Blogs tab ******************************/
.tab-content.tab-blogs{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  box-sizing: border-box;
}


.tab-content-blogs{
  width: 100%;
  border-radius: var(--round10);
  padding: 5px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;

}

.blogs-blog{
  background-color: var(--black-light);
  border-radius: var(--round10);
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.blogs-blog:hover{
  /* background-color: rgba(0,0,0,0.2); */
  
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.blog-content-wrapper {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* 1 for one line */
  -webkit-box-orient: vertical;
  overflow: hidden; 
  text-overflow: ellipsis; /* add ... */
}

.blog-content-wrapper.expanded {
  -webkit-line-clamp: unset; 
  display: block; 
  overflow: visible;
}


.blogs-blog-title{
  font-size: 1.1em;
  font-weight: 600;
}

.blogs-blog-date{
  color:var(--grey);
}

.blogs-blog-article{
  overflow: hidden;
  padding: 10px 0px;
  /* height: 25px; */
}

/********blog search**********/
.tab-content-blogs-search{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 15px 0px;
}

/***** blog search-manual *******/
.blogs-search-manual{
  display: flex;
  justify-content: center;
  background-color:white;
  border-radius: var(--round10);
  padding: 0px 5px;
  margin-bottom: 60px;
  outline: 1px solid var(--black-middle);
}
.blogs-search-manual:focus-within{
   outline: 2px solid var(--black);
}
.blogs-search-manual-input{
  border: none;
  height:30px;
  border-radius: var(--round10);
  width: 300px;
  font-size: 15px;
  padding-left: 10px;
}
input:focus{
  outline: none;
}

/***** blog search-auto *******/
.blogs-search-auto{
  display: flex;
  border-radius: var(--round10);
  color: var(--grey);
  justify-content: space-between;
  gap: 160px;
}

.blogs-search-auto-newer, .blogs-search-auto-older{
  padding: 2px 9px; /* 9px for "newer posts","older posts" click button effect*/
  border-radius: var(--round10);
}

.blogs-search-auto-newer:hover, .blogs-search-auto-older:hover{
  background-color:var(--black-light);
  cursor: pointer;
  color:var(--black);
  outline: 1px solid var(--black);
}

.blogs-search-auto-middle{

}

.blogs-search-auto-middle-leftNum{

}
.blogs-search-auto-middle-rightNum{

}
.blogs-search-auto-older{

}

/**************************** sayHi tab ******************************/
#sayhi {
  position: relative; /* snow needs a reference */
  overflow: hidden;   /* optional, keeps snow inside */
  padding: 0px 40px;
}
.tab-content.tab-sayhi{

}

/****** nav *******************/
.sayhi-nav{
  padding: 0px 220px 10px 220px;
}
/****** nav images *****/
.sayhi-nav-images{
  display:flex;
  justify-content: space-between;
  padding: 0px 10px;
}

.sayhi-nav-images-girl{
  margin-bottom: -8px;
  height: 90px;
  z-index: 1;
}
.sayhi-nav-snow{
  display: flex;
  align-self: center;
  gap:5px;
}
.sayhi-nav-snow-icon-frame{
  justify-items: center;
  position: relative;
}

#sayhi-nav-snow-icon{
  width: 45px;
}
#sayhi-nav-snow-icon:hover{
  fill:var(--pink);
  cursor: pointer;
}
.sayhi-nav-snow-icon-frame::after{
  content: "Do you like yuki?";
  position: absolute;
  top: -48%;
  left: 50%; 
  transform: translateX(-50%);

  padding: 0px 8px;
  border-radius: 5px;
  font-size: 15px;
  white-space: nowrap;
  font-family: var(--text-note);
  opacity: 0;
  pointer-events: none;
}

.sayhi-nav-snow-icon-frame:hover::after{
  opacity: 1;
}

.sayhi-nav-snow-num{
  align-self: center;
  color:var(--black-middle);
  background-color: var(--pink);
  padding: 1px 5px;
  border-radius: 5px;
}
/******* comment *******/
#sayhi-nav-comment{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.comment-box{
  padding: 15px;
  width: 100%;
  height: 50px;
  border-radius: var(--round10);
  margin-bottom: 10px;
  font-family: var(--text-content);

}

.comment-buttons{
  justify-content: space-between;
  align-items: center;
  display: none; 
  padding: 0px 10px;
}

.comment-button-required{
  color: red;
  display: flex;
  gap: 5px;
}
.comment-button-required-input{
  border-radius: 5px;
  border: 1px solid var(--grey);
  width: 100%;
}

/* .comment-button-input:focus.comment-box:focus-within{
  outline: 2px solid var(--black);
} */
#sayhi-nav-comment.is-active .comment-box {
  height: 100px;
}
#sayhi-nav-comment.is-active .comment-buttons {
  display: block;
}

.comment-submit{
  display: flex;
  justify-self: end;
  background-color: var(--pink);
  margin: 10px 0px;
  border-radius: 5px;
  padding: 2px 5px;
  color:var(--black-middle);
  border: 1px solid var(--grey);
}

.comment-submit:hover{
  color:var(--black);
  cursor: pointer;
  border: 1px solid var(--black);
}

/****** snow ******/

.snow {
  position: absolute;
  top: -40px;

  width: 24px;
  height: 24px;

  background-image: url('./svg/snow2.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  animation: fall linear infinite, spin 4s linear infinite;
  pointer-events: none;
}

@keyframes fall {
  to {transform: translateY(100vh) translateX(30vh) rotate(180deg);}
}

/******** comments *********/
#sayhi-comments{
  /* height: 80vh; */
  border-radius: var(--round10);
  background-color: var(--black-light);
  margin: 10px 0px;
  padding: 30px 60px;
  min-height: 600px;
}

.sayhi-comments-oneComments{
  margin: 15px 0px;
}
.sayhi-comments-oneComments-bottom{
  margin: 20px 0px 30px 0px;
  border-bottom: 2px solid var(--black-light);

}
.oneComments-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;  

}

.oneComments-bar-left{
  align-items: center;
  display: flex;
  justify-content: left;
}

.oneComments-bar-userIcon{
  border-radius: 10px;
}

.oneComments-bar-userName{
  margin: 0px 10px;
}

.oneComments-bar-date{
  color: var(--grey);
  font-size: 0.8em;

}

.oneComments-bar-reply{
  display: flex;
  background-color: var(--pink);
  padding: 0px 5px;
  border-radius: 5px;
  color:var(--black-middle);
  outline:1px solid var(--black-middle);
}
.oneComments-bar-reply:hover{
  outline:1px solid var(--black);
  color:var(--black);
}

.oneComments-bar-reply-text{

}

.oneComments-bar-reply-num{

}

.sayhi-comments-oneComments-content{
  margin: 0px 40px;

}

.sayhi-comments-oneComments-otherComment{
  margin-left: 40px;
}

/*--------page-------*/
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 20px;
  color:var(--black-middle);
}

.page-newer, .page-older {
  cursor: pointer;
  user-select: none; /* debounce */
  border: 1px solid var(--black-middle);
  padding: 0px 8px;
  border-radius: 5px;
}
.page-newer:hover, .page-older:hover{
  color: #000;
  border: 1px solid var(--black);
}

.page-pagination {
  display: flex;
  gap: 5px;
  color:var(--black-middle);
}

/*--------reply-------*/
.reply-form{
  padding-left: 10%;
  padding-right: 10%;
}
.reply-form-box{


}
.reply-form-required{

}
.reply-form-required-input{

}

.reply-form-buttons{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}
.reply-form-buttons-cancel.comment-submit{
  background-color: var(--black-light);
}
.reply-form-buttons-submit{

}

.hidden-replies-container{
  /* display: none;   already set in JS file*/ 
}
.toggle-replies{
  display: flex;
  justify-content: center;
}
.replies-showmore{
  all: unset;
  cursor: pointer;
  color: var(--black-middle);
  font-size: 0.8em;
  padding: 5px 50px; /*for click area*/
  margin-bottom: 20px;
  border-bottom: 1px solid var(--black-light);
}
.replies-showmore:hover{
  color: #000;
}

.generate-comment{
  margin-bottom: 15px;
}

.generate-comment-header{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.generate-comment-header-left{
  display: flex;
  gap: 5px;
  align-items: center;
}
.generate-comment-name{
  font-weight: 500;
  font-size: 0.9em;
  background-color: var(--black-light-fix);
  padding: 0px 5px;
  border-radius: 5px;
  color: var(--black-text);
}
.generate-comment-time{
  color: var(--black-middle);
  font-size: 0.8em;

}
.generate-comment-reply{/* svg button*/
  cursor: pointer;
  font-size: 0.8em;
  border-radius: 5px;
  padding: 2px 10px; /*for click area*/
  fill : var(--black-text);
  /* border: 1px solid var(--grey); */
}
.generate-comment-reply:hover{
  fill:var(--pink);
}
.generate-comment-content{
  padding-left: 40px;
  color: var(--black-text);

  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;       
  max-width: 100%;             
}


.avatar-initial {
  width: 30px;
  height: 30px;
  border-radius: 50%; /* round */
  color: var(--black-middle);
  font-weight: 600;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center; 
  
  margin-right: 5px;
  flex-shrink: 0; 
  user-select: none;
  text-transform: uppercase;
  border: 1px solid var(--black-light);
}

.reply-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(8, 8, 8, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /*make sure on the top layer*/
  /* backdrop-filter: blur(0.5px); */
}

.reply-modal-content {
  background: var(--light-pink);
  padding: 20px;
  border-radius: var(--round10);
  width: 100%;
  max-width: 500px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  animation: modalFadeIn 0.3s ease;
}

.reply-modal-title {
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--black-text);
}

@keyframes modalFadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

.reply-modal-content .comment-box {
  min-height: 100px;
  width: 100%;
}


/*=======Mobile / Tablet Responsive Styles=======*/
@media screen and (max-width: 768px) {

  header {
    padding: 10px 20px; 
  }
  .navbar {
    flex-direction: row;
  }
  .navbar-right {
    gap: 15px; 
    font-size: 0.9em;
  }

  main {
    padding:100px 5%;
    max-width: 100%;
  }

  .tab-content.tab-projects {
    flex-direction: column; /*horizontal*/
    gap: 30px;
  }

  /* Profile) remove fixed position*/
  .main-left-sidebar {
    position: relative; 
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* hide blank div */
  #sidebar-left-blank {
    display: none;
  }

  .sidebar-image {
    margin-bottom: -40px;
  }
  .sidebar-image img {
    width: 180px;
    height: auto;
  }
  .sidebar-content {
    width: 90%;
    padding-top: 50px;
    box-sizing: border-box;
  }

  .main-right-projects {
    padding: 0;
    gap: 30px;
    width: 100%;
  }

  .project {
    width: 100%;
    max-width: 100%;
  }
  .project-left-images {
    width: 100%;
    height: auto;
    display: block;
  }
  .project-left-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  /* Blogs*/
  .tab-content.tab-blogs {
    padding-left: 0;
    padding-right: 0;
  }
  
  .tab-content-blogs {
    padding: 10px;
  }

  .blogs-blog {
    padding: 15px;
  }

  /* SayHi*/
 .comment-box{
    height: 80px;
  }

  .sayhi-nav {
    padding: 0 10px;
    margin-top: 30px;
  }

  .sayhi-nav-images {
    justify-content: center;
    gap: 20px;
  }
  .sayhi-nav-images-girl {
    height: 60px;
  }
  #sayhi-comments {
    padding: 20px 15px;
  }
  .sayhi-comments-oneComments-content {
    margin: 0 10px;
  }
  .sayhi-comments-oneComments-otherComment {
    margin-left: 15px;
  }
  .reply-modal-content {
    width: 90%;
    margin: 0 20px;
  }

  .generate-comment-time {
    font-size: 0.3em;
  }
  .generate-comment-content {
    font-size: 0.7em;
  }
}